@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

    .boxname{
        padding: 30px;
        float: right;
    }
 
    .text{
    width: 300px;
    background-color: #D896FF;
    border-radius: 20px;
    padding: 5px 5px 10px 10px;
    text-align: center;
    margin-right: auto;
    }

.name{
    width: 250px;
    background-color: #D896FF;
    border-radius: 20px;
    padding: 5px 5px 10px 10px;
    text-align: center;
    margin-left: auto;
}

header{
    background-color: #BE29EC;
    text-align: left;
}


.box2{
    width: 800px;
     background-color: #BE29EC;
     border-radius: 25px;
     padding: 40px 40px 40px 40px;
     margin-left: 60px;
 }

 .box3{
    width: 500px;
    background-color: #D896FF;
    border-radius: 20px;
    padding: 5px 5px 10px 10px;
    text-align: center;
    margin-left: 150px;
}

.box4{
    width: 500px;
     background-color: #D896FF;
     border-radius: 20px;
     padding: 5px 5px 10px 10px;
     text-align: center;
     margin: auto;
}

.box5{
    width: 500px;
     background-color: #D896FF;
     border-radius: 20px;
     padding: 5px 5px 10px 10px;
     text-align: center;
     margin-left: 1000px;
}

.box6{
    width: 1500px;
     background-color: #D896FF;
     border-radius: 20px;
     padding: 5px 5px 10px 10px;
     text-align: center;
     margin: auto;
     font-size: 40px;
}

.colorbox{
margin: auto;
}

footer{
    background-color: #BE29EC;
    padding: 0.1%;
    margin: 0;
    text-align: center;
    color: aliceblue;
}