.GG{
    width: 1100px;
    text-align: auto;
    margin: auto;
}

.UU{
    margin-left: 480px;
}

.Adi{
    margin: auto; 
   width: 540px;
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(41, 150, 223);
}

.PP{
   margin: auto; 
   width: 540px;
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(41, 150, 223); 
}

.XD{
   margin: auto; 
   width: 1110px;
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(41, 150, 223); 
}

.XG{
   margin: auto; 
   width: 1005px;
   border: 1px solid rgb(0, 0, 0);
   background-color: rgb(41, 150, 223); 
   padding: 5%;
}

.XDDD{
    text-align: center;
}

.XDD{

    border-radius: 40px;
    padding: 10px;
    margin: 30px;
    width: 300px;

}

.PC{  /* h1 */
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
}

.lm{
    text-align: center;
}
footer {
    background-color: #5308b6; 
    text-align: center; 
    color: #FAFAFA;
    padding: 10px;
    }